<html>
<p style="z-index:10; position:fixed;" id="besideMouse"></p>
<head>
	<title>Annotation Service</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/microdraw.css') }}" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>

<div id="menuButton">
	<img class="button" id="openMenu" title="Menu" src="{{ url_for('static', filename='img/openMenu.svg') }}"/>
	
</div>

<!-- Toolbar -->
<div id="menuBar" class="table">
	
	<div class="row">
		<div id="login"></div>
		<img class="button" id="closeMenu" title="Close Menu" src="{{ url_for('static', filename='img/closeMenu.svg') }}"/>
	</div>

	<div class="row">
		<div id="myNavigator"></div>
	</div>
	
	<div class="row">
		<div class="cell">
			<br />
			Labels
			<img class="eye" id="toggle-poi"	style="padding-left:5px;padding-right:30px;"	title="Toggle visibility of all Regions"	onclick="toggleAllRegions()"	src="{{ url_for('static', filename='img/eyeOpened.svg') }}"/>
			<div id="regionList"></div>
		</div>
	</div>
</div>

<div id="colorSelector">
	fill color
	<input type="color" id="fillColorPicker" value="#ff0000" onChange="onFillColorPicker(this.value);" >
	<br>
	<br>
	&alpha;<input type="range" min="0" max="100" id="alphaSlider" onInput="onAlphaSlider(this.value);" ><input id="alphaFill" onInput="onAlphaInput(this.value);" >
	<br>
	<br>
	<input type="button" id="okStrokeColor" value="ok" onClick="setRegionColor();">
</div>

<!-- Region Picker -->
<div id="regionPicker">
</div>

<!-- OpenSeadragon viewer -->
<div id="openseadragon1" style="width:vh;height:hh"></div>

<!-- alert/info box after saving -->
<div id="saveDialog"></div>

<!-- Load javascript -->
<script src="{{ url_for('static', filename='lib/paper-full-0.9.25.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/openseadragon.js') }}"></script>
<script src="{{ url_for('static', filename='lib/OpenSeadragonScalebar/openseadragon-scalebar.js') }}"></script>
<script src="{{ url_for('static', filename='lib/openseadragon-viewerinputhook.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/microdraw.js') }}"></script>
<script>
    init("{{ file_name }}", "{{ slide_url }}", "{{ slide_mpp }}");
</script>
</body>

</html>


