<html>
<p style="z-index:10; position:fixed;" id="besideMouse"></p>
<head>
	<title>Annotation Service</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/microdraw.css') }}" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>

<div id="menuButton">
	<img class="button" id="openMenu" title="Menu" src="{{ url_for('static', filename='img/openMenu.svg') }}"/>
	
</div>

<!-- Toolbar -->
<div id="menuBar" class="table">
	
	<div class="row">
		<div id="login"></div>
		<img class="button" id="closeMenu" title="Close Menu" src="{{ url_for('static', filename='img/closeMenu.svg') }}"/>
	</div>

	<div class="row">
		<div id="myNavigator"></div>
	</div>
	
	<div class="row">
		<div class="cell" style="text-align:center">
			<div class="buttonGroup">
				<img class="button" id="navigate"     title="Navigator (esc)"				src="{{ url_for('static', filename='img/navigate.svg') }}" />
				<img class="button" id="home"         title="Home"							src="{{ url_for('static', filename='img/home.svg') }}" />
				<img class="button" id="save"         title="Save annotations (ctrl + s)"	src="{{ url_for('static', filename='img/save.svg') }}" />
			</div>
			<div class="buttonGroup">
				<img class="button" id="select"       title="Select (alt + left mouse button)"   																src="{{ url_for('static', filename='img/select.svg') }}" />
				<img class="button" id="draw"         title="Draw (ctrl + left mouse button [switch to &quot;Draw polygon&quot; by pressing &quot;d&quot;])"	src="{{ url_for('static', filename='img/draw.svg') }}" />
				<img class="button" id="draw-polygon" title="Draw polygon (ctrl + left mouse button [switch to &quot;Draw&quot; by pressing &quot;d&quot;])"	src="{{ url_for('static', filename='img/draw-polygon.svg') }}" />
			</div>
			<div class="buttonGroup">
				<img class="button" id="distance"       title="Measure distance (ctrl + q)"							src="{{ url_for('static', filename='img/ruler.svg') }}" />
				<img class="button" id="area"       	title="Measure area of object (ctrl + ?)"					src="{{ url_for('static', filename='img/size.svg') }}" />
				<img class="button" id="addpoi"			title="Add Point of Interest (shift + left mouse button)"	src="{{ url_for('static', filename='img/poi.svg') }}"/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="cell">
			<br />
			Labels (POI:
			<span id="poi-count"></span>
			)
			<img class="eye" id="toggle-poi"	title="Toggle visibility of all Points of Interest"	onclick="togglePois()"	src="{{ url_for('static', filename='img/eyeOpened.svg') }}"/>
			<div id="regionList"></div>
		</div>
	</div>
</div>

<div id="colorSelector">
	stroke color
	<select id="selectStrokeColor" onChange="onSelectStrokeColor();">
		<option value="0">black</option>
		<option value="1">white</option>
		<option value="2">red</option>
		<option value="3">green</option>
		<option value="4">blue</option>
		<option value="5">yellow</option>
	</select>
    <br>
    <br>
    stroke width
    <input type="button" id="strokeWidthDec" value="-" onClick="onStrokeWidthDec();"><input type="button" id="strokeWidthInc" value="+" onClick="onStrokeWidthInc();">
	<br>
	<br>
	fill color
	<input type="color" id="fillColorPicker" value="#ff0000" onChange="onFillColorPicker(this.value);" >
	<br>
	<br>
	&alpha;<input type="range" min="0" max="100" id="alphaSlider" onInput="onAlphaSlider(this.value);" ><input id="alphaFill" onInput="onAlphaInput(this.value);" >
	<br>
	<br>
	<input type="button" id="okStrokeColor" value="ok" onClick="setRegionColor();">
</div>

<!-- Region Picker -->
<div id="regionPicker">
</div>

<!-- OpenSeadragon viewer -->
<div id="openseadragon1" style="width:vh;height:hh"></div>

<!-- alert/info box after saving -->
<div id="saveDialog"></div>

<!-- Load javascript -->
<script src="{{ url_for('static', filename='lib/paper-full-0.9.25.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/openseadragon.js') }}"></script>
<script src="{{ url_for('static', filename='lib/OpenSeadragonScalebar/openseadragon-scalebar.js') }}"></script>
<script src="{{ url_for('static', filename='lib/openseadragon-viewerinputhook.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/microdraw.js') }}"></script>
<script>
    init("{{ file_name }}", "{{ slide_url }}", "{{ slide_mpp }}");
</script>
</body>

</html>


